.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.top {
  display: flex;
  gap: 12px;
}

.topHalf {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topHalf > input {
  width: 100%;
}

.bottom {
  display: flex;
  gap: 12px;
}

.bottomLeft {
  flex: 1;
}

.bottomLeft > select {
  width: 100%;
  height: 100%;
}

.bottomRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttonBar {
  display: flex;
  gap: 4px;
}

.buttonBar > button {
  flex: 1;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.inputs > input {
  width: 100%;
}